#menu
{
	position: fixed;
	width: 100%;
	height: 35px;
	background-color:black;
	z-index: 1; /* Stay on top */
  	top: 0; /* Stay at the top */
  	left: 0;
  	background-color: #111; /* Black */
 	overflow-x: hidden; /* Disable horizontal scroll */
}
a
{
	font: bold 12px/30px Georgia, serif;
	font-size: 100%;
	text-decoration: none;
	color: rgb(159, 209, 207);
	text-align: center;
	border-right: 1px solid rgb(159, 209, 207);
}
#logo
{
	float: right;
	size: 5%;
	border-radius: 50%;
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	position: relative;
}
#about1
{
	font: 12px/30px Georgia, serif;
	font-style: italic;
	font-size: 130%;
	text-decoration: none;
	color: rgb(0, 0, 0);
	text-align: left;
	border-right: 1px solid lightseagreen;
}

#fridakahlo
{
	font: bold 60px/60px Georgia, serif;
	font-size: 500%;
	text-decoration: none;
	color: rgb(9, 88, 65);
	text-align: left;
	border-right: 1px solid lightseagreen;
}

#about
{
	font: bold 30px/30px Georgia, serif;
	font-size: 250%;
	text-decoration: none;
	color: rgb(8, 112, 81);
	text-align: center;
	border-right: 1px solid lightseagreen;
}
#photos
{
	font: bold 30px/30px Georgia, serif;
	font-size: 250%;
	text-decoration: none;
	color: rgb(9, 88, 65);
	text-align: center;
	border-right: 1px solid lightseagreen;
}
.photo:hover
{
	box-shadow:0px 12px 22px 1px rgb(100, 7, 46);
	transform: scale(1.5);
}

.container {
	position: relative;
	width: 50%;
	max-width: 300px;
	display: inline-block;
  }
  
  .image {
	display: block;
	width: 100%;
	height: auto;
  }
  
  .overlay {
	position: absolute; 
	bottom: 0; 
	background: rgb(0, 0, 0);
	background: rgba(100, 7, 46, 0.562); /* Black see-through */
	color: #f1f1f1; 
	width: 86.5%;
	transition: .5s ease;
	opacity:0;
	color: white;
	font-size: 20px;
	padding: 20px;
	text-align: center;
  }
  
  .container:hover .overlay {
	opacity: 1;
  }

#playlist
{
	font: bold 30px/30px Georgia, serif;
	font-size: 250%;
	text-decoration: none;
	color: rgb(9, 88, 65);
	text-align: center;
	border-right: 1px solid lightseagreen;
}
#like
{
	font: bold 30px/30px Georgia, serif;
	font-size: 100%;
	text-decoration: none;
	color: rgb(9, 88, 65);
	text-align: left;
	border-right: 1px solid lightseagreen;
}
#qrcoder
{
	font: bold 30px/30px Georgia, serif;
	font-size: 250%;
	text-decoration: none;
	color: rgb(9, 88, 65);
	text-align: center;
	border-right: 1px solid lightseagreen
	
}
#spa
{
	font: bold 30px/30px Georgia, serif;
	font-size: 250%;
	text-decoration: none;
	color: rgb(9, 88, 65);
	text-align: center;
	border-right: 1px solid lightseagreen
}
#contact
{
	font: bold 30px/30px Georgia, serif;
	font-size: 250%;
	text-decoration: none;
	color: rgb(9, 88, 65);
	text-align: center;
	border-right: 1px solid lightseagreen
}
#contact1
{
	font: 12px/30px Georgia, serif;
	font-style: italic;
	font-size: 110%;
	text-decoration: none;
	color: rgb(0, 0, 0);
	text-align: left;
}
body
{
	background-image:url("imageedit_1_4989295296.png");
	background-size: 60% 100%;
	size: 100%;
	background-repeat: no-repeat;
  	background-position: right top;
	background-attachment: fixed;
	background-color:lightcyan;
}